# Modified from http://packages.ubuntu.com/saucy/zookeeperd
NAME=zookeeper
ZOOCFGDIR={{zookeeper_conf_dir}}

# seems, that log4j requires the log4j.properties file to be in the classpath
CLASSPATH="{{ zookeeper_dir}}/conf:/usr/share/java/xercesImpl.jar:/usr/share/java/xmlParserAPIs.jar:{{ zookeeper_dir}}/zookeeper-{{ zookeeper_version }}.jar"

ZOO_LOG_DIR={{ zookeeper_log_dir }}
ZOOPIDFILE=/var/run/zookeeper/zookeeper.pid
ZOOMAIN="org.apache.zookeeper.server.quorum.QuorumPeerMain"
ZOO_LOG4J_PROP="INFO,ROLLINGFILE"
JMXLOCALONLY=false
{% if zookeeper_heap_opt is defined %}
JAVA_OPTS="{{ zookeeper_heap_opt }}"
{% else %}
JAVA_OPTS=""
{% endif %}
