[Unit]
Description=Apache ZooKeeper
After=network.target
ConditionPathExists={{ zookeeper_conf_dir }}/zoo.cfg
ConditionPathExists={{ zookeeper_conf_dir }}/log4j.properties

[Service]
Type=forking
User=root
SyslogIdentifier=zookeeper
WorkingDirectory={{ zookeeper_data_dir }}
UMask=0027
EnvironmentFile={{ zookeeper_dir }}/conf/environment
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/run/zookeeper
ExecStartPre=/bin/chown -R zookeeper:zookeeper /var/run/zookeeper

ExecStart={{ zookeeper_dir }}/bin/zkServer.sh start
ExecStop={{ zookeeper_dir }}/bin/zkServer.sh stop
ExecReload={{ zookeeper_dir }}/bin/zkServer.sh restart
Restart=on-failure

[Install]
WantedBy=multi-user.target

